@import url('https://fonts.googleapis.com/css?family=Lexend+Deca|Mansalva|Open+Sans|Roboto&display=swap');

@font-face {
    font-family: coursive;
    src: url('ClassyBeautiful.ttf');
}

body {
	background: url(bg.jpg) no-repeat center center fixed;
	background-position: center;
  	background-repeat: no-repeat;
  	background-size: cover;
  	height: 100vh;
  	//font-family: 'Lexend Deca', sans-serif;
  	font-family: 'Open Sans', sans-serif;
}

* {
  box-sizing: border-box;
}

.coursive {font-family: 'coursive'}

.roboto {font-family: 'Roboto', sans-serif}

/* width */
::-webkit-scrollbar {
  width: 5px;
}
/* Track */
::-webkit-scrollbar-track {
  background: rgba(0,0,0,1); 
}
 
/* Handle */
::-webkit-scrollbar-thumb {
  background: rgba(52, 152, 219,0.6); 
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: rgba(52, 152, 219,0.7); 
}